{% extends 'base.html' %}
{% block contenido %}
{% load static %}

 <!-- Start Content -->
 <div class="container py-5">
    <div class="row">

        
        <div class="col-lg-9">
            
            <div class="row">

                {% for a in mis_artistas %}
                <div class="col-md-4"> 
                    
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">


                            {% if a.foto %}
                            <img class="card-img rounded-0 img-fluid" src="{{a.foto.url}}">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                             
                            {% else %}    
                            <img class="card-img rounded-0 img-fluid" src="">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">    
                            {% endif %}    
                                <ul class="list-unstyled">
                                    
                                    <li><a class="btn btn-success text-white mt-2" href="{% url 'desartista' %}"><i class="far fa-eye"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'desartista' %}" class="h3 text-decoration-none">{{a.nombre}} {{a.apellido}}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>Descripcion</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            
                            
                        </div>
                        
                    </div>
                    
                    
                </div>
                {% endfor %}
                
            <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>

        </div>
        

    </div>
</div>
<!-- End Content -->


{% endblock %}