{% extends 'base.html' %}
{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}

 <!-- Start Content Page -->
 <div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Postular</h1>
        <p>
            Si quieres postularte envíanos tu información. 
            
        </p>
        <p>
            Se parte de esta gran comunidad.
        
        </p>
    </div>
</div>

{{mensaje}}
<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        
        <form id="formularioPostulacion" action="" method="POST">
            {% csrf_token %}
            {{formPostulacion | crispy }}
            <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
        </form>
    </div>
</div>
<!-- End Contact -->



{% endblock %}