{% extends 'base.html' %}
{% block contenido %}

<script>
  function eliminarArtista(rut){
    Swal.fire({
      "title" : "Advertencia",
      "text":"¿estas seguro de que quieres eliminar la obra?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText":"NO, Cancelar",
      "confirmButtonText":"SI, Eliminar"
    }).then(function(result){
      if(result.isConfirmed)
      {

        window.location.href="/eliminar_artista/"+rut+"/";

      }
    })
    

  }
</script>

<div class="container mt-5">
    <div class="text-center">
        Listado Artista
    </div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">Rut</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Tipo</th>
          <th scope="col">Opciones</th>

        </tr>
      </thead>
      <tbody>
        {% for a in mis_artistas %}
        <tr>
          <th scope="row">{{a.rut}}</th>
          <td>{{a.nombre}}</td>
          <td>{{a.apellido}}</td>
          <td>{{a.fecha_nacimiento}}</td>
          <td>{{a.tipo}}</td>
          <td>
            
            <a href="{% url 'modificar_artista' a.rut %}" class="btn btn-info btn-sm">Modificar</a>
            <a href="#" onclick="eliminarArtista('{{a.rut}}')" class="btn btn-danger btn-sm">Eliminar</a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
      
  </table>
</div>
  {% endblock %}