{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}


<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        <div class="text-center">
            <h2>Registar Artista</h2>
            {{mensaje}}
        </div>
        
        <form id="formularioLogin" action="" method="POST">
            {% csrf_token %}
            

            <div class="from-group">
                <label for="rut">Rut : </label>
                <input type="text" class="form-control" name="rut" required>
            </div>

            <div class="from-group">
                <label for="nombre">Nombre : </label>
                <input type="text" class="form-control" name="nombre" required>
            </div>

            <div class="from-group">
                <label for="nombre">Apellido : </label>
                <input type="text" class="form-control" name="apellido" required>
            </div>

            <div class="from-group">
                <label for="nombre">Correo : </label>
                <input type="email" class="form-control" name="correo" required>
            </div>

            <div class="from-group">
                <label for="nombre">Contraseña : </label>
                <input type="password" class="form-control" name="password" required>
            </div>

            <div class="form-group">
                <label for="tipo">tipo:</label>
               
                  <select name="tipo"  class="form-select">
                    <option value="administrador">administrador</option>
                    <option value="artista">artista </option>
                   
                  </select>
        
              </div>
            
            <button type="submit" class="btn btn-outline-success btn-lg px-3 mt-2">Registar</button>
            
        </form>
    </div>
</div>

{% endblock %}